{% extends "page_header.html" %}

{% load staticfiles %}

{% block title %}About Rango{% endblock %}

{% block header_block %}About{% endblock %}

{% block page_block %}
        <p>This is <strong>{{ boldmessage }}</strong>.</p>
        {% if visits >= 1 %}
            Welcome back! You've been to this site {{ visits }} time{% if visits > 1 %}s{% endif %}!
        {% else %}
            This appears to be your first time here. Welcome!
        {% endif %} <br />
        <img src="{% static 'coxy.jpg' %}" alt="Dr. Cox says 'deal with it!'"/>
{% endblock %}