{% extends 'page_header.html' %}

{% load staticfiles %}

{% block title %}Hello{% endblock %}

{% block header_block %}
    Rango says... hello
    {% if user.is_authenticated %}
        {{ user.username }}!
    {% else %}
        world!
    {% endif %}
{% endblock %}

{% block page_block %}
<div class="row-placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Top five most liked categories</h3>
            </div>
        </div>

        {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Top five most viewed pages</h3>
            </div>
        </div>

        {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>there doesn't seem to be anything here</strong>
        {% endif %}
    </div>
</div>
{% endblock %}