{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Hello{% endblock %}

{% block body_block %}
    <h1>
        Rango says... hello
        {% if user.is_authenticated %}
            {{ user.username }}!
        {% else %}
            world!
        {% endif %}
    </h1>

    {% if categories %}
    <h2>Top five most liked categories</h2>
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}

    <br/>

    {% if pages %}
    <h2>Top five most viewed pages</h2>
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>there doesn't seem to be anything here</strong>
    {% endif %}
{% endblock %}